<div class="mt-5">
  <div class="flex items-center bg-gray-600 text-white rounded-2xl" (click)="toggleExpand()">
    <div class="px-2 py-8 bg-purple-400 rounded-s-xl"></div>
    <div class="mx-4 flex-grow flex items-center">
      <a class="text-3xl font-bold cursor-pointer" routerLink="/phase/1">Idea Phase</a>
      <mat-icon class="ml-2 scale-75 cursor-pointer hover:bg-gray-500" fontIcon="edit" (click)="showEditPopup($event)"></mat-icon>
      <mat-icon class="scale-75 cursor-pointer hover:bg-gray-500" fontIcon="delete" (click)="showDeletePopup($event)"></mat-icon>
      <div class="flex-grow"></div>
      <mat-icon *ngIf="!expanded" class="cursor-pointer hover:bg-gray-500" fontIcon="expand_more"></mat-icon>
      <mat-icon *ngIf="expanded" class="cursor-pointer hover:bg-gray-500" fontIcon="expand_less"></mat-icon>
    </div>
  </div>

  <div *ngIf="expanded" class="mx-4 bg-white border rounded-b-xl">
    <div class="mx-8 my-4 px-4 py-2 font-semibold bg-purple-200 rounded-md">Major Task 1</div>
    <div class="mx-8 my-4 px-4 py-2 font-semibold bg-purple-200 rounded-md">Major Task 2</div>
    <div class="mx-8 my-4 px-4 py-2 font-semibold bg-purple-200 rounded-md">Major Task 3</div>
  </div>
</div>
