.active-link {
  @apply bg-slate-100 text-slate-700;
  animation: activeLinkAnimation 0.3s ease-in-out;
}

@keyframes activeLinkAnimation {
  0% {
    opacity: 1;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    @apply bg-slate-100;
  }
}
