<div class="text-lg">
  <p class="mb-2 border-b px-5 py-3 font-normal">Quản lý kết nối của tôi</p>
  <div class="flex flex-col space-y-3">
    <button
      class="flex w-full px-5 py-1 text-gray-500 hover:bg-slate-100"
      routerLinkActive="active-link"
    >
      <mat-icon fontIcon="person_add" class="mr-4"></mat-icon>
      <div class="text-left">Bạn bè</div>
      <div class="ml-auto">164</div>
    </button>
    <button
      routerLink="/network/invitation"
      class="flex w-full px-5 py-1 text-gray-500 hover:bg-slate-100"
      routerLinkActive="active-link"
    >
      <mat-icon fontIcon="group" class="mr-4"></mat-icon>
      <div class="text-left">Lời mời kết bạn</div>
    </button>
    <button
      routerLink="/network/team-member"
      class="flex w-full px-5 py-1 text-gray-500 hover:bg-slate-100"
      routerLinkActive="active-link"
    >
      <mat-icon fontIcon="groups" class="mr-4"></mat-icon>
      <div class="text-left">Nhóm của tôi</div>
      <div class="ml-auto">1</div>
    </button>
  </div>
</div>
