<div class="flex flex-wrap bg-white rounded-xl border w-full h-fit mt-5">
  <!-- Main section to open post creation dialog -->
  <div class="flex w-full mt-3 mb-3">
    <!-- Profile Picture -->
    <div class="w-fit h-fit ml-5">
      <img class="user-pfp rounded-full" src="../../../../assets/img/android-chrome-192x192.png" />
    </div>
    <!-- Main button -->
    <button class="border flex-grow rounded-3xl text-left text-gray-400 ml-3 mr-3 pl-3 pr-3 hover:bg-gray-200">
      Share your innovative ideas!
    </button>
  </div>
  <!-- Quick actions -->
  <div class="w-1/3">
    <button class="w-full p-2 m-1 rounded-md flex items-center justify-center font-medium hover:bg-gray-200">
      <mat-icon class="mr-1" fontIcon="image"></mat-icon>
      Media
    </button>
  </div>
  <div class="w-1/3">
    <button class="w-full p-2 m-1 rounded-md flex items-center justify-center font-medium hover:bg-gray-200">
      <mat-icon class="mr-1" fontIcon="event"></mat-icon>
      Event
    </button>
  </div>
  <div class="w-1/3">
    <button class="w-full p-2 m-1 rounded-md flex items-center justify-center font-medium hover:bg-gray-200">
      <mat-icon class="mr-1" fontIcon="article"></mat-icon>
      Write Article
    </button>
  </div>
</div>
