<div *ngIf="isModalOpen; then modalOpened; else modalClosed"></div>
<ng-template #modalClosed>
  <div
    class="mb-10 mt-5 flex cursor-pointer items-center rounded-2xl bg-gray-600 text-white hover:bg-gray-500"
    (click)="showModal($event)"
  >
    <div class="flex flex-grow items-center">
      <div class="rounded-s-xl bg-purple-400 px-2 py-6"></div>
      <mat-icon class="ml-2" fontIcon="add"></mat-icon>
      <div class="ml-2 cursor-pointer text-xl font-bold">Tạo giai đoạn mới</div>
    </div>
  </div>
</ng-template>
<ng-template #modalOpened>
  <form [formGroup]="phaseCreateForm" (ngSubmit)="onSubmit()" (clickOutside)="hideModal()">
    <div class="mt-5 flex items-center rounded-2xl bg-gray-600 text-white">
      <div class="flex flex-grow items-center">
        <div class="rounded-s-xl bg-purple-400 px-2 py-8"></div>
        <input
          type="text"
          id="phaseName"
          formControlName="phaseName"
          placeholder="Hãy nhập tên cho giai đoạn này..."
          class="w-11/12 mx-4 border-0 bg-transparent text-3xl font-bold focus:outline-none"
          [cdkTrapFocusAutoCapture]="isModalOpen"
          [cdkTrapFocus]="isModalOpen"
        />
      </div>
    </div>
    <div class="mx-4 mb-10 flex rounded-b-xl border bg-white">
      <button
        class="m-2 h-10 cursor-pointer rounded-md bg-purple-200 px-4 py-2 font-semibold hover:bg-purple-300"
      >
        Tạo giai đoạn
      </button>
      <div
        class="my-2 h-10 cursor-pointer rounded-md p-2 font-semibold hover:bg-slate-300"
        (click)="hideModal()"
      >
        <mat-icon fontIcon="close"></mat-icon>
      </div>
    </div>
  </form>
</ng-template>
