<div class="m-6 flex h-[600px] w-[800px] flex-row flex-wrap overflow-auto">
  <div class="mr-4 w-4/5">
    <div class="mt-4 flex items-center">
      <mat-icon fontIcon="task_alt"></mat-icon>

      <input
        type="text"
        class="ml-2 w-full rounded-md border-none bg-transparent px-4 py-2 text-2xl font-semibold focus:border"
        [(ngModel)]="task.taskTitle"
        placeholder="Enter task title"
        (blur)="save()"
      />
    </div>

    <div class="mt-4 flex items-center text-purple-800">
      <mat-icon fontIcon="pending_actions"></mat-icon>
      <div class="ml-6 text-xl font-semibold">Trạng thái:</div>
      <select
        class="ml-4 appearance-none rounded-lg border-2 border-transparent bg-purple-200 px-2 py-1 text-lg hover:border-black"
        (change)="save()"
        [(ngModel)]="task.status"
      >
        <option [ngValue]="0">Đang chờ</option>
        <option [ngValue]="1">Đang làm</option>
        <option [ngValue]="2">Đã hoàn thành</option>
      </select>
    </div>

    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon fontIcon="menu"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Mô tả</div>
      </div>
      <textarea
        class="mt-2 w-full rounded-lg border bg-purple-400 bg-opacity-5 p-5 placeholder-gray-400"
        placeholder="Mô tả về công việc..."
        (focus)="onDescriptionFocus()"
        (blur)="onDescriptionBlur()"
        [(ngModel)]="task.description"
      ></textarea>
      <button
        *ngIf="showSaveButton"
        class="mt-2 rounded-md bg-purple-800 px-4 py-2 text-white"
        (click)="saveDescription()"
      >
        Save
      </button>
    </div>

    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon fontIcon="assignment"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Task lớn</div>
      </div>
      <div *ngIf="task.majorTaskId; then majorTask; else noMajorTask"></div>
      <ng-template #noMajorTask>
        <div class="flex items-center my-2 px-10 py-2 rounded-xl cursor-pointer hover:bg-slate-200" (click)="openAssignDialog($event)">
          <mat-icon class="ml-1" fontIcon="add_circle"></mat-icon>
          <span class="ml-2 font-medium">Gán task nhỏ này vào một task lớn</span>
        </div>
      </ng-template>
      <ng-template #majorTask>
        <div class="flex items-center my-2 px-10 py-2">
          <span class="px-2 font-medium">{{majorTaskName}}</span>
          <div class="flex items-center rounded-xl cursor-pointer hover:text-purple-400" (click)="openAssignDialog($event)">
            <mat-icon fontIcon="edit"></mat-icon>
          </div>
          <div class="flex items-center rounded-xl cursor-pointer hover:text-purple-400" (click)="removeFromMajorTask()">
            <mat-icon fontIcon="delete"></mat-icon>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon fontIcon="forum"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Bình luận</div>
      </div>
      <div class="mt-2 flex items-center">
        <div class="mr-3 size-5 rounded-full bg-red-500"></div>
        <input
          type="text"
          class="w-full rounded-md border bg-purple-400 bg-opacity-5 p-3 placeholder-[#a99fbf]"
          placeholder="Write a comment..."
        />
      </div>
    </div>
  </div>

  <div class="flex flex-grow flex-col">
    <div class="ml-auto">
      <mat-icon class="cursor-pointer" fontIcon="close" (click)="onClose()"></mat-icon>
    </div>
    <div class="mt-5">Thêm vào thẻ</div>
  </div>
</div>
