<mat-dialog-content>
  <div class="flex flex-wrap w-[600px] h-[400px] justify-center bg-white rounded-[40px]">
    <!-- Title -->
    <div class="mt-[30px] text-violet-500 text-2xl font-semibold font-['Inter']">Đăng nhập</div>
    <div class="w-full h-0 border border-zinc-400"></div>
    <!-- Form -->
    <input type="text" placeholder="Email" class="w-[80%] h-[50px] p-4 bg-slate-50 rounded-lg font-['Inter']" />
    <input type="password" placeholder="Mật khẩu" class="w-[80%] h-[50px] p-4 bg-slate-50 rounded-lg font-['Inter']" />
    <button class="w-[80%] h-[50px] bg-violet-500 rounded-lg text-white font-['Inter'] hover:bg-violet-400">
      Đăng nhập
    </button>
  </div>
</mat-dialog-content>
