<div class="border-margin mt-5">
  <div class="mt-5 flex items-center bg-gray-600 text-white rounded-2xl">
    <div class="px-2 py-8 bg-gray-600 rounded-s-xl"></div>
    <div class="mx-4 flex-grow flex items-center">
      <a class="text-3xl font-bold cursor-pointer">Idea Phase</a>
      <mat-icon class="ml-2 scale-75 cursor-pointer hover:bg-gray-500" fontIcon="edit"></mat-icon>
      <mat-icon class="scale-75 cursor-pointer hover:bg-gray-500" fontIcon="delete"></mat-icon>
    </div>
  </div>
  <div
    class="flex mt-5 overflow-auto whitespace-nowrap"
    cdkDropListGroup
    cdkDropList
    [cdkDropListData]="boardList"
    (cdkDropListDropped)="drop($event)"
    cdkDropListOrientation="horizontal">
    <taskboard *ngFor="let board of boardList" [boardName]="board"></taskboard>
  </div>
</div>
