<mat-drawer-container>
  <mat-drawer [opened]="opened" mode="side">
    <div class="w-[20vw]">
      <div *ngIf="opened" class="absolute right-0">
        <button
          class="m-2 flex h-10 w-10 items-center justify-center rounded-full bg-white hover:bg-slate-200"
          (click)="toggle()"
        >
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </button>
      </div>
      <div class="flex items-center">
        <img
          class="m-2 h-10 w-10 cursor-pointer"
          src="../../../assets/img/android-chrome-192x192.png"
          alt="app-icon"
          routerLink=""
        />
        <div class="m-2 text-2xl font-black">StartedIn</div>
      </div>

      <div class="">
        <app-project-side-nav-item
          *ngFor="let project of projectList"
          [project]="project"
        ></app-project-side-nav-item>
      </div>
    </div>
  </mat-drawer>

  <div *ngIf="!opened" class="absolute">
    <button
      class="m-2 flex h-10 w-10 items-center justify-center rounded-full bg-purple-200 hover:bg-slate-200"
      (click)="toggle()"
    >
      <mat-icon fontIcon="chevron_right"></mat-icon>
    </button>
  </div>

  <ng-content></ng-content>
</mat-drawer-container>
