<!-- Left Sidebar -->
<!-- <div class="w-1/5 h-4/5 fixed top-14 left-[3%] bg-white border m- rounded-lg">

</div> -->
<!-- Right Sidebar -->
<!-- <div class="w-1/5 h-4/5 fixed top-14 right-[3%] bg-white border m-5 rounded-lg">

</div> -->
<!-- Main -->
<div class="border-margin flex justify-center w-auto">
  <main class="w-full">
    <app-post-create></app-post-create>
    <div *ngFor="let detail of postDetails">
      <app-post-detail [postDetail]="detail"></app-post-detail>
    </div>
    <button (click)="loadPosts()">moar</button>
    <div *ngIf="finished">oof</div>
  </main>
</div>
