<div class="flex flex-wrap justify-center w-full h-screen">
  <!-- Logo -->
  <div class="flex flex-wrap justify-center items-end w-full h-[15%]">
    <img
      class="app-icon h-[50px] rounded-lg"
      src="../../../../assets/img/logo-full.png"
      alt="app-icon"
    />
  </div>
  <!-- Form containter -->
  <div class="flex flex-wrap w-[600px] h-[400px] justify-center bg-white rounded-[40px]">
    <!-- Title -->
    <div class="mt-[30px] text-violet-500 text-2xl font-semibold font-['Inter']">Đăng ký</div>
    <div class="w-full h-0 border border-zinc-400"></div>
    <!-- Form -->
    <input type="text" placeholder="Email" class="w-[80%] h-[50px] p-4 bg-slate-50 rounded-lg font-['Inter']" />
    <input type="password" placeholder="Mật khẩu" class="w-[80%] h-[50px] p-4 bg-slate-50 rounded-lg font-['Inter']" />
    <input type="password" placeholder="Nhập lại mật khẩu" class="w-[80%] h-[50px] p-4 bg-slate-50 rounded-lg font-['Inter']" />
    <button class="w-[80%] h-[50px] bg-violet-500 rounded-lg text-white font-['Inter'] hover:bg-violet-400">
      Đăng ký
    </button>
  </div>
  <div class="h-[5%] w-full"></div>
</div>

