<div class="border-margin my-5 min-h-[650px] rounded-3xl border bg-white p-3 pb-6">
  <div class="m-5 flex items-center">
    <mat-icon fontIcon="dashboard" class="scale-125 text-purple-600"></mat-icon>
    <div class="ml-2 text-3xl font-black text-purple-600">Dashboard</div>
  </div>
  <div class="mx-10">
    <div class="w-full text-2xl font-bold text-purple-500">Startup của bạn</div>
    <div *ngIf="isLoadingYourTeams; then loadingYourTeams; else showYourTeams"></div>
    <ng-template #loadingYourTeams>
      <div class="flex items-center">
        <mat-spinner diameter="25"></mat-spinner>
        <div class="ml-2 text-lg font-semibold">Đang lấy dữ liệu...</div>
      </div>
    </ng-template>
    <ng-template #showYourTeams>
      <div *ngIf="yourTeams.length === 0" class="mb-4 text-lg font-semibold">
        Bạn chưa tạo dự án khởi nghiệp nào cả!
      </div>
      <div *ngIf="isYourTeamsCallFailed" class="text-lg font-semibold">
        Lấy dữ liệu thất bại! Hãy tải lại trang
      </div>
      <div *ngIf="yourTeams.length !== 0 && !isYourTeamsCallFailed">
        <team-project-list *ngFor="let team of yourTeams" [team]="team" />
      </div>
      <app-create-team-button (teamCreateSubmit)="addCreatedTeam($event)"></app-create-team-button>
    </ng-template>
  </div>
  <div class="mx-10 mt-5">
    <div class="w-full text-2xl font-bold text-purple-500">Startup được mời vào</div>
    <div *ngIf="isLoadingGuestTeams; then loadingGuestTeams; else showGuestTeams"></div>
    <ng-template #loadingGuestTeams>
      <div class="flex items-center">
        <mat-spinner diameter="25"></mat-spinner>
        <div class="ml-2 text-lg font-semibold">Đang lấy dữ liệu...</div>
      </div>
    </ng-template>
    <ng-template #showGuestTeams>
      <div *ngIf="guestTeams.length === 0" class="text-lg font-semibold">
        Bạn chưa được mời vào dự án startup nào cả!
      </div>
      <div *ngIf="isGuestTeamsCallFailed" class="text-lg font-semibold">
        Lấy dữ liệu thất bại! Hãy tải lại trang
      </div>
      <div *ngIf="guestTeams.length !== 0 && !isGuestTeamsCallFailed">
        <team-project-list *ngFor="let team of guestTeams" [team]="team" />
      </div>
    </ng-template>
  </div>
</div>
