<div class="flex h-screen w-full flex-wrap justify-center">
  <div class="container">
    <!-- landing page -->
    <div class="landing">
      <div class="text-section">
        <h1 class="title">Grow & Connect Your Startups</h1>
        <p class="description">
          Project management, social networking, idea consultancy, fundraising support. Everything
          you need for your startups all in one place.
        </p>
        <button class="learn-more-btn" routerLink="/about">Explore</button>
      </div>
      <div class="image-section">
        <img
          src="../../../assets/img/landing-page-pic.png"
          alt="landing-page-pic"
          class="fixed-size-image"
        />
      </div>
    </div>

    <div class="landing-text-box-container">
      <div class="landing-text-box">
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Assemble your team</h1>
          <p>Find like-minded individuals and invite them to your startup</p>
        </div>
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Build your product</h1>
          <p>With our management suite, development is a breeze</p>
        </div>
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Spread the word!</h1>
          <p>Meet the investors and tell them how wonderful your project can be!</p>
        </div>
      </div>
    </div>

    <!-- carousel -->
    <div class="carousel-text">
      <p>
        Simple, flexible, and powerful. All it takes are boards, lists, and cards to get a clear
        view of who’s doing what and what needs to get done.
      </p>
    </div>

    <div class="carousel-board">
      <div class="board-text">
        <h1>Boards</h1>
        <p>
          Trello boards keep tasks organized and work moving forward. In a glance, see everything
          from “things to do” to “aww yeah, we did it!”
        </p>
      </div>
      <div class="board-img">
        <img src="../../../assets/img/board.jpg" alt="board-img" />
      </div>
    </div>

    <!-- social media -->

    <div class="social-media-container">
      <div class="social-media">
        <div class="social-media-text-block">
          <h1>Be part of a growing community!</h1>
          <p>Connect and learn from other startups in our social media page</p>
        </div>
        <div class="social-media-img">
          <img src="../../../assets/img/social_media_icons.png" alt="social-media-img" />
        </div>
      </div>
    </div>

    <!-- plan -->
    <div class="plan-title">
      <h1>Set up and pick a plan</h1>
    </div>

    <div class="plan-container">
      <div class="plan-card lite-card">
        <div class="price">
          <h1>Lite</h1>
          <div class="price-number">
            <h1>19.99k</h1>
            <p>/ mo</p>
          </div>
        </div>
        <div class="bullet-list">
          <p>Unlimited boards per Workspace</p>
          <p>Color customize</p>
          <p>Saved searches</p>
          <p>File Management</p>
          <p>Member limit to 8</p>
        </div>
        <button>Already using</button>
      </div>

      <div class="plan-card premium-card">
        <div class="price">
          <h1>Premium</h1>
          <div class="price-number">
            <h1>49.99k</h1>
            <p>/ mo</p>
          </div>
        </div>
        <div class="bullet-list">
          <p>Excel data export</p>
          <p>Unlimited freelance posts</p>
          <p>Views: Calendar and Graphic Analysis</p>
          <p>Member limit to 15</p>
        </div>
        <button>Buy now</button>
      </div>
      <div class="plan-card business-card">
        <div class="price">
          <h1>Business</h1>
          <div class="price-number">
            <h1>99.99k</h1>
            <p>/ mo</p>
          </div>
        </div>
        <div class="bullet-list">
          <p>Add fundraising page</p>
          <p>Staff hiring support</p>
          <p>Prioritize group’s freelance post</p>
          <p>Organization-wide permission</p>
          <p>Member limit to 50+</p>
        </div>
        <button>Buy now</button>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </div>
</div>
