<div class="flex h-screen w-full flex-wrap justify-center">
  <div class="border-margin container">
    <!-- landing page -->
    <div class="landing">
      <div class="text-section">
        <h1 class="title">Grow & Connect Your Startups</h1>
        <p class="description">
          Quản lý dự án, mạng xã hội, tư vấn ý tưởng, hỗ trợ gây quỹ. Tất cả những gì bạn cần cho
          startup của mình - tất cả được tích hợp tại một nơi
        </p>
        <button class="learn-more-btn" routerLink="/about">Khám phá</button>
      </div>
      <div class="image-section">
        <img
          src="../../../assets/img/landing-page-pic.png"
          alt="landing-page-pic"
          class="fixed-size-image"
        />
      </div>
    </div>

    <div class="landing-text-box-container">
      <div class="landing-text-box">
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Lập đội nhóm</h1>
          <p>Tìm kiếm các thành viên cùng chí hướng và mời họ tham gia startup của bạn</p>
        </div>
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Tạo sản phẩm</h1>
          <p>Sử dụng hệ thống quản lí dự án của để giúp phát triển sản phẩm trở nên dễ dang hơn</p>
        </div>
        <div class="text-box">
          <img src="../../../assets/img/cloud-icon.png" alt="cloud-icon" />
          <h1>Chạm được đến nhiều nhiều người hơn</h1>
          <p>Cơ hội thu hút nhà đầu tư và khách hàng đến với sản phẩm tuyệt vời của bạn</p>
        </div>
      </div>
    </div>

    <!-- carousel -->
    <div class="carousel-text">
      <p>
        Đơn giản, linh hoạt và mạnh mẽ. Chỉ với bảng, danh sách và thẻ công việc, bạn sẽ nắm bắt
        được rõ ràng ai đang làm gì và công việc nào cần hoàn thành
      </p>
    </div>

    <div class="carousel-board">
      <div class="board-text">
        <h1>Projects</h1>
        <p>
          StartedIn Project giúp giữ cho các công việc được tổ chức và tiến triển một cách thuận
          lợi. Chỉ với một cái nhìn thoáng qua, bạn sẽ có thể nắm bắt mọi thứ
        </p>
      </div>
      <div class="board-img">
        <img src="../../../assets/img/board.jpg" alt="board-img" />
      </div>
    </div>

    <!-- social media -->

    <div class="social-media-container">
      <div class="social-media">
        <div class="social-media-text-block">
          <h1>Trở thành một thành viên trong một cộng đồng startup lớn nhất Việt Nam</h1>
          <p>
            Kết nối và học hỏi từ các startups thành công khác trong hệ thống mạng xã hội của chung
            tôi
          </p>
        </div>
        <div class="social-media-img">
          <img src="../../../assets/img/social_media_icons.png" alt="social-media-img" />
        </div>
      </div>
    </div>

    <!-- plan -->
    <div class="plan-title">
      <h1>Các gói chi trả</h1>
    </div>

    <div class="plan-container">
      <div class="plan-card lite-card">
        <div class="price">
          <h1>Lite</h1>
          <div class="price-number">
            <h1>19.99k</h1>
            <p>/ mo</p>
          </div>
        </div>
        <div class="bullet-list">
          <p>Vô hạn số lượng bản mỗi Project</p>
          <p>Chọn màu tùy ý</p>
          <p>Lưu từ khóa tìm kiếm</p>
          <p>Quản lí file</p>
          <p>Tăng số lượng thành viên lên 8</p>
        </div>
        <button>Already using</button>
      </div>
      <div class="overlapped-card">
        <div class="highlight-card">
          <p>Mua nhiều nhất</p>
        </div>
        <div class="plan-card premium-card">
          <div class="price">
            <h1>Premium</h1>
            <div class="price-number">
              <h1>49.99k</h1>
              <p>/ mo</p>
            </div>
          </div>
          <div class="bullet-list">
            <p>Xuất dữ liệu Excel</p>
            <p>Vô hạn số lượng freelance</p>
            <p>Views: Phân tích số liệu</p>
            <p>Tăng số lượng thành viên lên 15</p>
          </div>
          <button>Buy now</button>
        </div>
      </div>
      <div class="plan-card business-card">
        <div class="price">
          <h1>Business</h1>
          <div class="price-number">
            <h1>99.99k</h1>
            <p>/ mo</p>
          </div>
        </div>
        <div class="bullet-list">
          <p>Tích hợp trang gây quỹ</p>
          <p>Hỗ trợ tuyển nhân viên</p>
          <p>Ưu tiên bài viết freelance của startup</p>
          <p>Phân quyền cho mọi người</p>
          <p>Tăng số lượng thành viên lên 50+</p>
        </div>
        <button>Buy now</button>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>
  </div>
</div>
