<div *ngIf="isModalOpen; then modalOpened; else modalClosed"></div>
<ng-template #modalClosed>
  <div class="flex items-center justify-center my-4 bg-purple-100 border-2 border-purple-400 border-dashed rounded-lg cursor-pointer hover:bg-purple-200 hover:border-purple-600" (click)="showModal($event)">
    <mat-icon class="scale-75" fontIcon="add"></mat-icon>
    <div class="my-2 mr-4">Tạo task nhỏ</div>
  </div>
</ng-template>

<ng-template #modalOpened>
  <form [formGroup]="minorTaskCreateForm" (ngSubmit)="onSubmit()" (clickOutside)="hideModal()">
    <div class="mt-4 mb-2 bg-purple-200 border rounded-lg">
      <input
        type="text"
        id="taskTitle"
        formControlName="taskTitle"
        placeholder="Hãy nhập tên cho task này..."
        class="m-2 border-0 bg-transparent text-lg font-medium focus:outline-none"
        [cdkTrapFocusAutoCapture]="isModalOpen"
        [cdkTrapFocus]="isModalOpen"
      />
    </div>
    <div class="mb-4 flex">
      <button class="cursor-pointer rounded-md bg-green-200 px-2 pt-1 hover:bg-green-300">
        <mat-icon fontIcon="check"></mat-icon>
      </button>
      <div
        class="ml-2 cursor-pointer rounded-md bg-red-200 px-2 pt-1 hover:bg-red-300"
        (click)="hideModal()"
      >
        <mat-icon fontIcon="close"></mat-icon>
      </div>
    </div>
  </form>
</ng-template>
