<div class="m-6 flex h-[600px] w-[800px] flex-row overflow-auto">
  <div class="mr-4 w-4/5">
    <div class="flex items-center text-3xl text-purple-800">
      <mat-icon>folder</mat-icon>
      <input
        type="text"
        class="ml-1 w-full rounded-md border-none bg-transparent pl-1 font-semibold focus:border"
        [(ngModel)]="majorTask.taskTitle"
        placeholder="Enter task title"
        (blur)="saveMajorTitle()"
      />
    </div>

    <div class="mt-4 flex w-full text-purple-800">
      <mat-icon>menu</mat-icon>
      <div class="ml-2 w-full">
        <h2 class="text-xl font-semibold">Mô tả</h2>
        <textarea
          class="mt-2 w-full rounded-lg border bg-purple-400 bg-opacity-5 p-5 placeholder-[#a99fbf]"
          placeholder="Mô tả về công việc..."
          (focus)="onDescriptionFocus()"
          (blur)="onDescriptionBlur()"
          [(ngModel)]="majorTask.description"
        ></textarea>
        <button
          *ngIf="showSaveButton"
          class="mt-2 rounded-md bg-purple-400 px-4 py-2 text-white"
          (click)="saveMajorTask()"
        >
          Save
        </button>
      </div>
    </div>
    <div class="mt-4 flex w-full text-purple-800">
      <mat-icon>menu</mat-icon>
      <div class="ml-2 w-full">
        <h2 class="mb-2 text-xl font-semibold">Task nhỏ</h2>
        <app-minor-task-title-card
          *ngFor="let minorTask of taskDialog?.minorTasks"
          [minorTask]="minorTask"
        ></app-minor-task-title-card>
      </div>
    </div>
    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon>menu</mat-icon>
        <h2 class="ml-2 text-lg font-semibold">Comments</h2>
      </div>
      <div class="mt-2 flex items-center">
        <div class="mr-3 size-6 min-h-6 min-w-6 rounded-full bg-red-500"></div>
        <input
          type="text"
          class="w-full rounded-md border bg-purple-400 bg-opacity-5 p-3 placeholder-[#a99fbf]"
          placeholder="Write a comment..."
        />
      </div>
    </div>
  </div>
  <div class="flex w-1/5 flex-col">
    <div class="ml-auto">
      <mat-icon class="cursor-pointer" (click)="onClose()">close</mat-icon>
    </div>
    <div
      class="hover: mt-5 flex cursor-pointer justify-center rounded-lg bg-purple-100 py-2 hover:bg-purple-300"
    >
      Add to card
    </div>
  </div>
</div>
