<div class="m-6 flex h-[600px] w-[800px] flex-row flex-wrap overflow-auto">
  <div class="mr-4 w-4/5">
    <div class="mt-1 flex items-center">
      <mat-icon fontIcon="task_alt"></mat-icon>

      <input
        type="text"
        class="ml-2 w-full rounded-md border-none bg-transparent px-4 py-2 text-2xl font-semibold focus:border"
        [(ngModel)]="editModel.taskTitle"
        placeholder="Nhập tên Task"
        (blur)="save()"
      />
    </div>

    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon fontIcon="menu"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Mô tả</div>
      </div>
      <textarea
        class="mt-2 w-full rounded-lg border bg-purple-400 bg-opacity-5 p-5 placeholder-gray-400"
        placeholder="Mô tả về công việc..."
        (focus)="onDescriptionFocus()"
        (blur)="onDescriptionBlur()"
        [(ngModel)]="editModel.description"
      ></textarea>
      <button
        *ngIf="showSaveButton"
        class="mt-2 rounded-md bg-purple-800 px-4 py-2 text-white"
        (click)="saveDescription()"
      >
        Save
      </button>
    </div>

    <div class="mt-4 text-purple-800">
      <div class="mb-4 flex">
        <mat-icon fontIcon="assignment"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Task nhỏ</div>
        <div class="flex-grow"></div>
        <div
          class="cursor-pointer rounded bg-purple-100 px-2 py-1 font-medium hover:bg-purple-200"
          (click)="openAssignDialog($event)"
        >
          Thêm
        </div>
      </div>
      <div *ngIf="dialogInfo.minorTasks.length <= 0; then noMinorTask; else minorTask"></div>
      <ng-template #noMinorTask>
        <div class="my-2 text-center">Không có task nhỏ nào trong task lớn này cả!</div>
      </ng-template>
      <ng-template #minorTask>
        <div *ngFor="let minorTask of dialogInfo.minorTasks" class="my-2 flex items-center px-10">
          <span class="px-2 font-medium">{{ minorTask.taskTitle }}</span>
          <div
            class="flex cursor-pointer items-center rounded-xl hover:text-purple-400"
            (click)="removeMinorTask(minorTask.id)"
          >
            <mat-icon fontIcon="delete"></mat-icon>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="mt-4 text-purple-800">
      <div class="flex">
        <mat-icon fontIcon="forum"></mat-icon>
        <div class="ml-6 text-xl font-semibold">Bình luận</div>
      </div>
      <div class="mt-2 flex items-center">
        <div class="mr-3 size-6 min-h-6 min-w-6 rounded-full bg-red-500"></div>
        <input
          type="text"
          class="w-full rounded-md border bg-purple-400 bg-opacity-5 p-3 placeholder-[#a99fbf]"
          placeholder="Write a comment..."
        />
      </div>
    </div>
  </div>

  <div class="flex flex-grow flex-col">
    <div class="ml-auto mt-1">
      <mat-icon class="cursor-pointer" fontIcon="close" (click)="onClose()"></mat-icon>
    </div>
    <div
      class="mt-5 flex cursor-pointer justify-center rounded-lg bg-purple-100 py-2 hover:bg-purple-300"
    >
      Thêm vào thẻ
    </div>
  </div>
</div>
