<div class="mb-28">
  <div class="relative">
    <img
      src="https://marketplace.canva.com/EAFSUH0EweU/1/0/1600w/canva-black-elegant-personal-linkedin-banner-eEN5zzEf5VA.jpg"
      alt="cover image"
      class="h-[300px] w-full rounded-[12px] object-cover"
    />
    <img
      src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg"
      alt="profile-image"
      class="absolute bottom-0 left-20 size-44 translate-y-3/4 rounded-full border-[3px] border-white"
    />
  </div>
  <div class="ml-[17rem] mt-3 flex flex-col lg:flex-row">
    <div class="w-3/4">
      <h1 class="text-lg font-semibold">Khuat Trong Khoi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae ipsam nemo quis libero
        quia ipsa, inventore porro veniam maiores distinctio voluptatem rerum beatae facere ullam
        voluptates optio pariatur. Assumenda.
      </p>
      <p class="text-purple-400">169 ket noi</p>
    </div>
    <button
      class="mt-2 h-full w-fit rounded-[10px] bg-purple-400 px-2 py-1 text-white lg:ml-auto lg:mt-0 hover:bg-opacity-90"
    >
      Sửa hồ sơ
    </button>
  </div>
  <div class="ml-20 mr-40 mt-3 space-y-3">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque mollitia distinctio sed nemo!
      Deleniti voluptas blanditiis corrupti labore. Reiciendis ut minima earum blanditiis quo fugit
      accusantium sunt animi? Libero, ducimus.
    </p>
    <p class="text-lg">Thông tin liên lạc</p>
    <div class="flex flex-row text-purple-400">
      <mat-icon>call</mat-icon>
      <p class="ml-4">0903987654</p>
    </div>
    <div class="flex flex-row text-purple-400">
      <mat-icon>email</mat-icon>
      <p class="ml-4">{{ 'khuattrongkhoi123@gmail.com' }}</p>
    </div>
  </div>
</div>
