<div class="flex min-h-[80vh] w-full flex-col items-center justify-center">
  <h1 class="my-8 text-center text-2xl font-bold">
    Đăng kí trước <span class="text-purple-400">StartedIn</span> chỉ
    <span class="text-yellow-400">20.000 đồng</span> với gói Lite
  </h1>
  <h2 class="text-center text-xl">Các bạn hãy chuyển khoản với cú pháp: [HoTen] [Email]</h2>
  <h2 class="my-4 text-center text-xl">Ví dụ: NguyenVanA nguyenvana&#64;gmail.com</h2>
  <img class="max-h-96" src="../../../assets/img/31039285.jpg" alt="support-us" />
  <h2 class="my-4 text-center text-xl">Cám ơn bạn đăng kí trước gói Lite tại StartedIn</h2>
  <h2 class="text-center text-xl">Nếu có góp ý đừng ngại gửi mail cho chúng tôi</h2>
</div>
