<div class="flex flex-wrap items-end justify-center mt-16">
  <div class="flex w-4/5 mb-16">
    <div class="w-2/5">
      <div class="w-fit flex flex-wrap items-start justify-center">
        <img class="app-icon" src="../../../assets/img/android-chrome-192x192.png" alt="app-icon" />
        <div class="w-full"></div>
        <div class="w-fit text-lg font-['Inter'] font-bold mt-3">Grow & Connect Startups</div>
      </div>
    </div>
    <div class="w-2/5">
      <a class="cursor-pointer block w-full mb-3 font-medium">Về chúng tôi</a>
      <a class="cursor-pointer block w-full mb-3 font-medium">Sản phẩm</a>
      <a class="cursor-pointer block w-full mb-3 font-medium">Quy tắc cộng đồng</a>
      <a class="cursor-pointer block w-full mb-3 font-medium">Điều khoản & Quyền riêng tư</a>
    </div>
    <div class="w-1/5">
      <a class="cursor-pointer block w-full mb-3 font-medium" href="https://www.facebook.com/profile.php?id=61559700490681" target="_blank">Facebook Page</a>
      <a class="cursor-pointer block w-full mb-3 font-medium">0856 990 951</a>
      <a class="cursor-pointer block w-full mb-3 font-medium">contact.with.me&#64;startedin.info</a>
    </div>
  </div>
  <img class="footer-waves w-full" src="../../../assets/img/footer-waves.png" />
</div>
