<!-- Title -->
<div class="w-full text-5xl font-['Inter'] font-bold text-center mt-10 mb-10">
  Về StartedIn
</div>
<!-- Our Story -->
<div class="flex flex-wrap justify-center items-center border-margin mt-24">
  <div class="w-1/2">
    <img class="rounded-3xl" src="../../../assets/img/business-team.jpg" />
  </div>
  <div class="w-1/12"></div>
  <div class="w-5/12">
    <div class="text-3xl font-['Inter'] font-semibold mb-5">
      Câu chuyện của chúng tôi
    </div>
    <div class="text-lg font-['Inter'] font-medium">
      StartedIn được bắt đầu từ một giấc mơ đơn giản - hỗ trợ các doanh nghiệp khởi nghiệp.
      Chúng tôi muốn tạo ra một môi trường lý tưởng để các nhà lãnh đạo với tư duy tiến bộ có thể khởi nghiệp thành công.
      Chúng tôi tin vào sức mạnh của phản hồi mang tính xây dựng để nuôi dưỡng các ý tưởng đổi mới và giải quyết vấn đề một cách sáng tạo.
      Chúng tôi cố hết sức để cung cấp các công cụ và tài nguyên để xây dựng mối liên hệ bền chặt trong nhóm của mình và với các chuyên gia trong ngành, tất cả nhằm mở ra vô số cơ hội thú vị cho doanh nghiệp của bạn.
    </div>
  </div>
</div>
<!-- Our Mission -->
<div class="flex flex-wrap justify-center items-center border-margin mt-48 mb-24">
  <div class="w-5/12">
    <div class="text-3xl font-['Inter'] font-semibold mb-5">
      Nhiệm vụ của chúng tôi
    </div>
    <div class="text-lg font-['Inter'] font-medium">
      Xây dựng một cộng đồng mà trong đó mọi người không chỉ tham gia để bắt đầu khởi nghiệp mà còn để tìm kiếm những cơ hội, học hỏi lẫn nhau và tạo ra những đổi mới trong xã hội và kinh tế.
    </div>
  </div>
  <div class="w-1/12"></div>
  <div class="w-1/2">
    <img class="rounded-3xl" src="../../../assets/img/teamwork.jpg" />
  </div>
</div>
